@media screen and (max-width:420px){
    #header{
        margin-top: 30%;
        margin-left: 17%;
        max-width: 200px;
        height: 450px;
        
    }
    h1{
        font-size: 20px;
        
    }
}


